package components

templ Menu() {
	<nav class="flex w-full border border-b-zinc-200 px-4 py-4">
		<a href="/" class="text-base lg:text-lg font-large text-center mr-4">Home</a>
		<a href="/users" class="text-base lg:text-lg font-large text-center mr-4">Users</a>
		<a href="/timesheet" class="text-base lg:text-lg font-large text-center">Timesheet</a>
	</nav>
}
